h1{
    float: none;
    color: #e74c3c;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Roboto Slab';
}
body {
  margin-top: 2.5em;
  background-color: #ecf0f1;
  align: center;
}

#fr{
  margin: auto;
  width: 80%;
  border: none;
  padding: 10px;
  text-align: center;
}
